/*-------------------------HEADER--------------------------------------*/
@media screen and (min-width: 700px){
    .hamburger-menu{
        display: none;
    }
    .bigmenu{
        display: normal;
    }
}
header{
    background:hsl(0, 0%, 0%,0.7);
    color:rgb(255, 255, 255);
    width: 100%;
    height: 75px;
    margin-top:0;
    margin-left: auto;
    margin-right: auto;
    position: sticky;
    z-index: 1;
    top: 0%;
}

#controls{
    width: 160px;
    position: absolute;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    left: calc(50% - 80px);
}
.audio-track {
    width: 150px;
    height: 3px;
    background-color: #7a7a7a;
    margin: 10px 0;
}
.time {
    width: 0;
    height: 3px;
    background-color: aliceblue;
}
.common_photo_player{
    width: 75%;
    display: flex;
    justify-content: space-between;
    margin-left: 12%;
    margin-right: 13%;
}
.photo_player_prev, .photo_player_play, .photo_player_next{
    width: 31px;
    height: 31px;
    background: hsla(57, 100%, 50%, 0.7);
    border-radius: 50%;
}
/*-----------------------ICON IN HEADER--------------------------------*/
.pages_header{
    padding-top: 20px;
    float: right;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.icon_in_header{
    position: relative;
    overflow: hidden;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: aliceblue;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.779);
    z-index: 0;
    margin-right: 30px;
}
.photo_soc_seti {
    margin-top: 25%;
    z-index:2;
}
.icon_in_header:hover {
    scale: 1.1;
}
/*---------ICON IN HEADER END---------------*/
#avatarvshapke{
  float: left;
  margin-top: 10px;
  margin-left: 30px;
}
.icon_page:hover{
    scale:1.1;
}
@media screen and (max-width: 700px){
    .hamburger-menu{
        display: normal;
    }
    .bigmenu{
        display: none;
    }
}
/*-----------------BURGER MENU-----------------------*/
/* скрываем чекбокс */
#menu__toggle {
    opacity: 0;
  }
  /* стилизуем кнопку */
  .menu__btn {
    display: flex; /* используем flex для центрирования содержимого */
    align-items: center;  /* центрируем содержимое кнопки */
    position: fixed;
    top: 20px;
    left: 10px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    z-index: 1;
  }
  /* добавляем "гамбургер" */
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
}
/* контейнер меню */
.menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    text-align: center;
    background-color:hsl(0, 0%, 29%);
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
  }
  /* элементы меню */
  .menu__item {
    display: block;
    padding: 12px 24px;
    color: rgb(28, 28, 28);
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
  }
  .menu__item:hover {
    background-color: #CFD8DC;
  }
  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
  }
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  transition-duration: .25s;
}
.menu__box {
  transition-duration: .25s;
}
.menu__item {
  transition-duration: .25s;
}
/*-------------BURGER MENU END-----------------------------------*/
/*-------------------------HEADER END--------------------------------------*/
/*-------------------------BODY AND MAIN------------------------------------*/
body{
    width: 100%;
    margin:0;
    margin-left: auto;
    margin-right: auto;
    background-image: url("photo/background.jpg");
    background-attachment: fixed;
}
a {
    text-decoration: none;
}
main{
    width: 85%;
    margin-top:0;
    margin-left: auto;
    margin-right: auto;
    top: 0%;
    padding-top:2%;
    padding-left: 0%;
    padding-right: 0%;
    padding-bottom: 2%;
}
.common_page_block{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
}
.card{
    width: 300px;
    height: 406px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.779);
}
.cotainer {
    width: 300px;
    height: 406px;
}
.image {
    display: block;
    width: 300px;
    height: 406px;
}
.photo{ 
    margin-top: 0%;
    margin-left: auto;
    margin-right: auto;
 }
.information{
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 3%;
    font-size: 1.3em;
    width: 70%;
    color: rgb(208, 255, 0);
    background:hsl(0, 0%, 0%,0.8);
    border-radius: 10px;
}
@media screen and (max-width: 1300px){
    .information {
        margin-top: 60px;
    }
}
.example_work{
     margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
 }
 .example_work h3{
    text-align: center;
 }
 .common_block_for_stih{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
 }
 .first_stih{
    width: 400px;
    color: rgb(208, 255, 0);
    background:hsl(0, 0%, 0%,0.8);
    text-align: center;
    margin-bottom: 10px;
 }
 .second_stih{
    width: 400px;
    color: rgb(208, 255, 0);
    background:hsl(0, 0%, 0%,0.8);
    text-align: center;
    margin-bottom: 10px;
 }
 .third_stih{
    width: 400px;
    color: rgb(208, 255, 0);
    background:hsl(0, 0%, 0%,0.8);
    text-align: center;
    margin-bottom: 10px;
}

/*-------------------------ИКОНКИ СОЦСЕТЕЙ-----------------------------------*/
.social{
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
    width: 100%;
    height: 50vh;
}
.soc_seti{
    position: relative;
    overflow: hidden;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    background-color: aliceblue;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.779);
    z-index: 0;
}
.photo_soc_seti {
    margin-top: 25%;
    z-index:2;
}
.soc_seti::before{
    position: absolute;
    content: "";
    top:0;
    left: 0;
    width: 2em;
    height: 2em;
    transform: translateY(-100%);
    background-color: #484848;
    transition: all 1s ease;
    z-index: -1;
}
.soc_seti:hover::before{
    transform:translateY(0);
}
.soc_seti:hover .photo_soc_seti{
    z-index: 2;
}
/*--------------------------Конец иконок----------------------*/
/*--------------------------Footer---------------------------*/
footer{
    background:hsl(0, 0%, 0%,0.7);
    color:rgb(255, 255, 255);
    width: 100%;
    height: auto;
    margin-top:0;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
    top: 0%;
    padding-bottom: 30px;
    padding-top: 30px;
}
.footer_block{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.about_us{
    height: auto;
    width: 300px;
}
.link_foot{
    height: auto;
    width: 200px;
}
.contact{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 300px;
}
.contact h3{
    margin-left: 45px;
}
.icon_in_foot{
    overflow: hidden;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: aliceblue;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.779);
    z-index: 0;
    margin-right: 30px;
    margin-top: auto;
    margin-bottom: auto;
}
.adres{
    display: flex;
    justify-content: center;
}
.telefon{
    display: flex;
    justify-content: center;
}
.pochta{
    display: flex;
    justify-content: center;
}
.text_foot{
    height: auto;
    width: 150px;
}
a{
    text-decoration: none;
    color:rgb(255, 255, 255)
}
/*------------------------END FOOTER-------------------------*/